# Autor: Daniel Tatzel

ExpiresActive On
ExpiresDefault "access plus 1 day"

<FilesMatch "^\." >
    deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /

# Vorerst kommentiert, da es probleme gab mit der Session in PHP
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(html?|php)\ HTTP/
#    RewriteRule ^index\.(html?|php)$ http://ebenezer-kunatse.net/ [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /404\.php\ HTTP/
    RewriteRule ^404\.php$ http://ebenezer-kunatse.net/ [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.ebenezer-kunatse\.net$
    RewriteRule ^(.*)$ http://ebenezer-kunatse.net/$1 [L,R=301]

ErrorDocument 404 /404.php
