<div id="banner" >
                <!--Div Box für logo img-->
                <div id= "logo">
                    <img src="/images/logo.png" class="logo_img" alt="logo">
                </div>

                
                <div id="show">
                             <div class="img1 slide">
                                     <img src="/images/slider_img1.jpg" class="slider_img" alt="slider_img1" />         
                             </div>
                             <div class="img2 slide">
                                     <img src="/images/slider_img2.jpg" class="slider_img" alt="slider_img2"/>                       
                             </div>
                             <div class="img3 slide">
                                     <img src="/images/slider_img3.jpg" class="slider_img" alt="slider_img3"/>                            
                             </div>
                             <div class="img4 slide">
                                     <img src="/images/slider_img4.jpg" class="slider_img" alt="slider_img4"/>               
                             </div>
                             <div class="img5 slide">
                                     <img src="/images/slider_img5.jpg" class="slider_img" alt="slider_img5">                                   
                             </div>
					</div>
</div><!-- Banner div fix-->
