<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="YWEE Gruppe_02">
		<meta name="description" lang="de" content="'Die Tutoren AG' ist DIE Anlaufstelle f&uuml;r wissenshungrige, die nach einem Tutor in ihrer N&auml;he suchen!!! 
		Wenn Sie selbst gerne unterrichten und Geld verdienen wollen, melden Sie sich an und werden Tutor!">
		<meta name="keywords" lang="de" content="Tutor, Nachhilfe, Unterricht, Lernen">
		<meta name="description" lang="en" content="'Die Tutoren AG' is THE contact point for inquisitive people, who search for a tutor nearby!!! 
		Register and become a tutor if you like to teach and earn big money!">
		<meta name="keywords" lang="en" content="tutor, tutoring, lesson, education, learning, study">

        <link type="text/css" href="/layout/style.css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" type="text/css" media="all" href="/layout/cssmenu.css" />
        
        <noscript>
            <link rel="stylesheet" type="text/css" media="all" href="/layout/slide.css" />
        </noscript>

        <!-- HTML5 Boilerplate -->
        <link rel="stylesheet" href="/layout/normalize.css">
        <link rel="stylesheet" href="/layout/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        
        <!-- Slideshow CSS/JS Modernizr Abfrage -->
		<script>
		yepnope({
			test : Modernizr.cssanimations,
			yep  : '/layout/slide.css',
			nope : '/js/slide.js'
		});    
		</script>
        
       <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <title>Die Tutoren AG</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
	</head>
    <body>

<div id="container">
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-51517596-1', 'ebenezer-kunatse.net');
            ga('send', 'pageview');
        </script>
