/*-------------------------slide--------------------------*/
/*---------------author: Matthias Birnthaler------------------*/
/*---------------date: 11.05.14-------------------------------*/



/*------------animation img1-----------------*/
.img1 
{
	animation: img1 40s infinite;     
	-o-animation: img1 40s infinite;    /*internet explorer higher than 9*/
	-moz-animation: img1 40s infinite; /*Firefox*/
	-webkit-animation: img1 40s infinite;/*Chrome and Safari*/
}
/*------------keyframes img1------------*/


@-webkit-keyframes img1 
{
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img1 
{
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img1 
{
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

/*------------animation img1-----------------*/

	.img2 {
		animation: img2 40s infinite;
		-o-animation: img2 40s infinite;
		-moz-animation: img2 40s infinite;
		-webkit-animation: img2 40s infinite;
	}
/*------------animation img1-----------------*/
	.img3 {
		animation: img3 40s infinite;
		-o-animation: img3 40s infinite;
		-moz-animation: img3 40s infinite;
		-webkit-animation: img3 40s infinite;
	}
/*------------animation img1-----------------*/
	.img4 {
		animation: img4 40s infinite;
		-o-animation: img4 40s infinite;
		-moz-animation: img4 40s infinite;
		-webkit-animation: img4 40s infinite;
	}
/*------------animation img1-----------------*/
	.img5 {
		animation: img5 40s infinite;
		-o-animation: img5 40s infinite;
		-moz-animation: img5 40s infinite;
		-webkit-animation: img5 40s infinite;
	}

/*------------keyframes img1------------*/

@-webkit-keyframes img2 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img2 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img2 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}
/*------------keyframes img1------------*/

@-webkit-keyframes img3 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img3 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img3 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}
/*------------keyframes img1------------*/

@-webkit-keyframes img4 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img4 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img4 
{
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}
/*------------keyframes img1------------*/

@-webkit-keyframes img5 
{
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

@keyframes img5 
{
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

@-moz-keyframes img5 
{
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}