# Autor: Daniel Tatzel
# Deutsche htaccess

ExpiresActive On
ExpiresDefault "access plus 1 day"

# Zugriffe auf dot-files verbieten
<FilesMatch "^\." >
    deny from all
</FilesMatch>

DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# Redirects für Sprachauswahl
Redirect /de/news.php /de/nachrichten.php
Redirect /de/registration.php /de/registrierung.php
Redirect /de/sitenotice.php /de/impressum.php

Redirect /de/contact.php /de/kontakt.php
Redirect /de/guestbook.php /de/gaestebuch.php
Redirect /de/donate.php /de/spenden.php
Redirect /de/termsandconditions.php /de/agb.php
Redirect /de/corporate.php /de/unternehmen.php

ErrorDocument 404 /de/404.php
