# Autor: Daniel Tatzel

ExpiresActive On
ExpiresDefault "access plus 1 day"

# Zugriffe auf dot-files verbieten
<FilesMatch "^\." >
    deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /

# Redirects für Sprachauswahl
Redirect /de/news.php http://ebenezer-kunatse.net/de/nachrichten.php
Redirect /de/registration.php http://ebenezer-kunatse.net/de/registrierung.php
Redirect /de/sitenotice.php http://ebenezer-kunatse.net/de/impressum.php

ErrorDocument 404 http://ebenezer-kunatse.net/de/404.php
