# Autor: Daniel Tatzel
# Englische htaccess

ExpiresActive On
ExpiresDefault "access plus 1 day"

# Zugriffe auf dot-files verbieten
<FilesMatch "^\." >
    deny from all
</FilesMatch>

DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# Redirects für Sprachauswahl
Redirect /en/nachrichten.php /en/news.php
Redirect /en/registrierung.php /en/registration.php
Redirect /en/impressum.php /en/sitenotice.php

Redirect /en/kontakt.php /en/contact.php
Redirect /en/gaestebuch.php /en/guestbook.php
Redirect /en/spenden.php /en/donate.php
Redirect /en/agb.php /en/termsandconditions.php
Redirect /en/unternehmen.php /en/corporate.php

Redirect /en/profile.php /de/profile.php
Redirect /en/tutor.php /de/tutor.php
Redirect /en/admin.php /de/admin.php

Redirect /en/location.php /en/index.php
Redirect /en/subject.php /en/index.php

ErrorDocument 404 /en/404.php
