# Autor: Daniel Tatzel

ExpiresActive On
ExpiresDefault "access plus 1 day"

# Zugriffe auf dot-files verbieten
<FilesMatch "^\." >
    deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /

# Redirects für Sprachauswahl
Redirect /en/nachrichten.php http://ebenezer-kunatse.net/en/news.php
Redirect /en/registrierung.php http://ebenezer-kunatse.net/en/registration.php
Redirect /en/impressum.php http://ebenezer-kunatse.net/en/sitenotice.php

ErrorDocument 404 http://ebenezer-kunatse.net/en/404.php
